.checkbox-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  min-width: 170px;
  width:fit-content;
  cursor: pointer;

  input {
    width: 24px;
    height: 24px; cursor: pointer;
  }

  label {
    left: 16px; cursor: pointer;
  }
}
