<nav #navMenu>
  <ng-container *ngIf="isNavOpen">
    <app-no-behaviour-button>{{buttonText}}</app-no-behaviour-button>
  </ng-container>
  <div class="toggle-nav" #toggleNav>
    <div class="bar" *ngFor="let item of multiArray"></div>
  </div>
</nav>
<main #main>
  <section>
    <app-checkbox (emitClick)="changeCheckboxValue()" [id]="'checkbox'" [checkboxValue]="checkboxLabel">
    </app-checkbox>
    <app-combobox [items]="selectItems"></app-combobox>
  </section>
  <section>
    <app-grid></app-grid>
  </section>
</main>
