nav {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 13vw;
  height: 100vh;
  background: rgb(41, 41, 65);
  color: rgb(245, 245, 245);
  transition-property: width;
  transition-duration: .6s;
  padding: 24px;

  .toggle-nav {
    position: absolute;
    top: 24px;
    left: calc(13vw + 72px);
    cursor: pointer;
    height: fit-content;
    transition-property: left;
    transition-duration: .6s;

    .bar {
      width: 32px;
      height: 6px;
      background: #000;
      margin-top: 4px;
    }
  }
}

main {
  position: absolute;
  width: calc(100vw - 13vw);
  left: 13vw;
  margin: 100px 0 0 24px;
  transition-property: width;
  transition-property: left;
  transition-duration: .6s;
  section:first-child {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }
}
