.combobox {
  padding: 12px;
  border: 1px solid rgb(133, 133, 133);
  border-radius: 5px;

  .option-container {
    height: 150px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .option {
      width: 100%;
      padding: 12px;

      &:hover {
        background: rgb(189, 189, 175);
      }

    }
  }
}
