@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-alpine.css';

html, body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  user-select: none;
}

* {
  font-family: sans-serif;
}


